
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: lighter;
}

body {
    overflow-x: hidden;

    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* header */

.wrapper {
    height: 100%;
    background: url("../img/question.png"), center, no-repeat;

}

.header-block {
    background-color: #1a3bbe7e;
    display: inline-flex;
    min-width: 100vw;
}

.icon {
    display: flex;
    justify-content: baseline;
    padding: 10px 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    list-style-type: none;
    gap: 35px;
}

.navbar-link {
    color: #FFFFFF;
    font-size: 20px;
}

.navbar-link:hover{
    color: #d1cfcf;
    font-size: 22px;
}

/* main */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
    height: 75vh;
}

.feedback {
    background-color: rgba(69, 113, 215, 0.500);
    padding: 100px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #FFFFFF;
}

.infrm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infrm > h2{
    color: #d1cfcf;
}

.questuions {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.questuions > span{
    color: #FFFFFF;
    padding: 5px 0;
}

.questuions > input{
    padding: 7px;
    border: 1px solid #4570D7;
    border-radius: 10px;
}

.button {
    background-color: #5F8EFF;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.button:hover{
    background-color: #5682e9;
    transform: scale(1.1);
}

#modalID{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button_close{
    border-radius: 10px;
    background-color: rgb(112, 135, 189);
    padding: 10px 20px;
    border: 2px solid rgb(121, 146, 204);
    color: #FFFFFF;
    font-size: 18px;
}

#button_close:hover{
    background-color: rgb(104, 125, 173);
    transform: scale(0.97);
}

.modal {
    border: none;
    border-radius: 20px;
    background-color: rgb(121, 146, 204);
}

.window_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 70px;
    color: #FFFFFF;
}

/* footer */

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.other_hotels {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.other_hotels > span {
    font-size: 20px;
}

.hotels {
    display: flex;
    gap: 50px;
}

.hotel {
    opacity: 0.8;
}

.hotel:hover {
    opacity: 1;
    transform: scale(1.1);
}

.infr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    color: #FFFFFF;
    font-weight: 800;
}

.phone {
    color: #4570D7;
    font-weight: 800;
}

.site_guide {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.guide {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 800;
}

.guide:hover{
    color: #d1cfcf;
    transform: scale(1.1);
}
